a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s,
samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    font-family: "Harmony", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100%;
/*    position: fixed;*/
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block
}

header{
    position: fixed !important;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

b, strong {
    font-weight: 700
}

ol, ul {
    list-style: none
}

li {
    display: list-item;
    list-style: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, td, th {
    font-weight: 400;
    vertical-align: top;
    text-align: left
}

q {
    quotes: none
}

a {
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}

q:after, q:before {
    content: '';
    content: none
}

small, sub, sup {
    font-size: 70%;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.35em;
    font-size: 0.75em;
}

svg {
    overflow: hidden;
}

input, button, submit { 
    border:none; } 

html {
    font-size: .7px
}

@media (min-width:200px) and (max-width:320px) {
    html {
        font-size: calc(1px + ((.7021875vw - .7px) * .102040816326531))
    }
}

@media (min-width:320px) and (max-width:768px) {
    html {
        font-size: calc(1px + ((.9521875vw - .7px) * .102040816326531))
    }
}

@media (min-width:768px) and (max-width:1023px) {
    html {
        font-size: calc(1px + ((.145024166666666667vw - .8px) * .752941176470588))
    }
}

@media (min-width:1023px) and (max-width:1240px) {
    html {
        font-size: calc(1px + ((.157751710654936vw - 1px) * .490647482014388))
    }
}

@media (min-width:1240px) and (max-width:1440px) {
    html {
        font-size: calc(1.1px + ((.127751710654936vw - 1px) * .490647482014388))
    }
}

@media (min-width:1440px) {
    html {
        font-size: calc(1.5px + ((.073333333333333vw - 1.2px) * .4))
    }
}

h1 {
/*    font-family: "Fearful Harmony", Times New Roman, Times, serif;*/
    font-weight: 200;
    line-height: 110px;
    letter-spacing: -5px;
    font-size: 120px;
    color: #fff;
     
/*
    font-size: 8.2vw;
        line-height: 7.2vw;
*/
}

h2 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    
    font-weight: 400;
    font-size: 45px;
    
}

h3 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

h4 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
}

h5 {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 12em;
    line-height: 1.4em;
    font-weight: 700;
}

h6 {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 16px;
}
 
p {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 13em;
    text-indent: 2em;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: -0.05px;
}
 
p:first-of-type {
    text-indent: 0;
}

@font-face {
    font-family: 'Harmony';
    src: url('/assets/fonts/Harmony-Bold.woff'); 
    src: url('/assets/fonts/Harmony-Bold.woff'); 
    font-style: bold;
    font-weight: 700;
    }

@font-face {
    font-family: 'Harmony';
    src: url('/assets/fonts/Harmony-Thin.woff'); 
    src: url('/assets/fonts/Harmony-Thin.woff');
    font-style: normal;
    font-weight: 300;
    }

::-webkit-scrollbar { 
    display: none; 
}

::selection{
    background: #ffffff;
    mix-blend-mode: difference;
}

::-moz-selection{
    background: #ffffff;   
    mix-blend-mode: difference;

}

.wrapper{
    overflow-x: hidden;
    overflow-y: hidden;  
}

main {
    width: 100vw;
    position: relative;
}

.heading{
    position: fixed;
    z-index: 1;
    color: #fff;
    margin-left: 15px;
    mix-blend-mode: difference;
}

.indent{
    margin-left: 300px;
}

.big-circle {
    float: right;
    display: inline-block;
	border-radius: 50%;
	width: 75px;
	height: 75px; 
    margin-top: 27px;
    margin-left: 25px;
	background: #fff;
    opacity: 0;
}

#fearful-harmony:hover + .big-circle{
    opacity: 1;
    animation: blinking 1.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.big-circle2 {
    float: right;
    display: inline-block;
	border-radius: 50%;
	width: 75px;
	height: 75px; 
    margin-top: 27px;
    margin-left: 25px;
	background: #fff;
    opacity: 0;
}

#static-haze:hover + .big-circle2{
    opacity: 1;
    animation: blinking 1.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.big-circle3 {
/*    display: inline-block;*/
	border-radius: 50%;
	width: 75px;
	height: 75px; 
    margin-top: 27px;
    margin-left: 25px;
	background: #fff;
    opacity: 0;
}

#ok-human:hover + .big-circle3{
    opacity: 1;
    animation: blinking 1.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes blinking{
    0%{
        opacity: 1;
    }
    49%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.footer{
    bottom: 20px;
    width: 520px;
    left: 15px;
    z-index: 5;
    color: #000;
    position: fixed;
}

.footer h6{
    margin-left: 20px;
}

.circle {
    display: inline;
    float: left;
	border-radius: 50%;
	width: 12px;
	height: 12px; 
    margin-top: 2px;
	background: #000;
}

#shadercontainer{
    width: 100%;
    height: 100%;
}

.background{
    width: 100%;
    height: 100%;
}