@media screen and (min-width: 0px) and (max-width: 373px) {
h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.15em;
}

h3 {
    font-size: 1.5em;
    }
   
h4 {
    font-size: .75em; 
    text-align: left;  
    letter-spacing: -0.002em;
    word-spacing: -0.12em;
}
    
h5 {   
    font-size: .75em;
    text-align: left;  
    letter-spacing: -0.002em;
    word-spacing: -0.12em;
}
   
h6 {
    font-size: 0.6em;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;  
}

p {
    font-size: 0.75em;
} 
    
.big-circle {
    display: none;
}
.big-circle2 {
    display: none;
}    
.big-circle3 {
    display: none;
}    
.menu-close{
    width: 20%;
    right: 0px;
    margin-bottom: -45px;
}
.menu-footer {
    bottom: 40px;
    width: 92%;
/*    display: none;*/
} 
.heading{
    opacity: 1;
    margin-left: 5px;
}
    
.rule{
    width: calc(100% - 0px);
    left: 0px;
}
.context-title{
    width: 365px;
    width: 15%;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    padding-bottom: 5px;
}
.visual-language-title{
    width: 342px;
    width: 40.55%;
    margin-left: 10.66%;
    position: relative;
    float: left;
    padding-left: 0px;
    padding-right: 25px;
    padding-bottom: 5px;
}

.visual-language-title-2{
    display: none;
}

.context{
    width: 380px;
    width: 86.9%;
    margin-right: 25px;
    margin-left: 15px;
    padding-top: 5px;
    position: relative; 
    border: 1px solid #000;
    border-width: 0 0px 1px 0px;
    float: left;
    display: none;
}
.visual-language-body{
    width: 330px;
    width: 72%;
    margin-left: 70px;
    position: relative;
    float: left;
    clear: both;
    margin-top: -1px;
    border: 1px solid #000;
    border-width: 0 0px 0 1px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.visual-language-body-2{
    float: left;
    clear: both;
    width: 360px;
    width: 72%;
    position: relative;
    margin-top: -1px;
    margin-left: 70px;
    padding-top: 5px;
    border: 1px solid #000;
    border-width: 1px 0px 0 1px;
    padding-left: 15px;
    padding-right: 5px;
}    
    
.manifesto{
    width: calc(100% - 10px);
    left: 250px;
    left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    clear: both;
}    

.manifesto indent{
    margin-left: 0px;
    text-indent: 2em;
}  
  
.letterform-disclaimer{
    width: calc(100% + 10px);
    margin-left: -5px;
}   
.download{
    width: calc(100% + 10px);
    margin-left: -5px;
}     
#background{
    width: 500vw;
    left: -200vw;
    top: -100vh;
    height: 200vh;
    pointer-events: none;
}
.mobile-letter{
    display: block;
}    
.letterform{
    display: none;
    
} 
.letterform-dots{
    display: none;
}   
.interactive-letterform{
    margin-top: 0px;
    height: 0%;
}
    
.static-haze .top-header{
    margin-left: 5px;
    padding-left: 5px;
}    
.static-haze h3{
    padding-bottom: 34px;
    width: calc(100% - 20px);
}
   
.static-haze .sub-heading{
    margin-top: -26px;
    float: left; 
    margin-left: 8px;
    letter-spacing: -0.015em; 
    word-spacing: -0.015em;
}    
.static-haze h5{
    width: 85%;
    margin-right: -50px;  
}   
    
.static-haze h6{
    width: 85%;
    margin-right: -40px;
    margin-top: 5px;
    margin-bottom: 5px;
  display: none;
}    
    
.static-haze-rule{
    width: 85%;
    margin-right: -50px;
}
.ok-human-rule2{
    width: calc(100% - 20px);
    margin-right: -10px;

}
.purpose-title-static-haze{
    margin-left: calc(15% + 50px);
    margin-top: 2px;
}
    
.purpose-title-static-haze2{
    margin-right: -50px;
    padding-bottom: 2px;
    margin-top: 2px;
}  
.visual-documentation-title2{
    float: left;
    margin-left: calc( 10px);
    width: 45%;
    margin-top: 2px;
}   
.static-haze-rule2{
    width: calc(100% - 20px);
    margin-right: -10px;

}    
.col-12 {
    width: calc(100% - 20px);
    padding: 0 10px;
    }  
.visual-documentation-title{
    float: left;
    margin-left: calc( 10px);
    width: 45%;
    margin-top: 2px;
    
}    
.ok-human-video iframe{
    top: -13px;
}

.static-haze-video{
    top: -13px; 
} 
.nam-june-paik-credit{
    left: calc(15% + 40px);
    width: calc(85% - 50px);
    margin-top: -35px;
}  
    
    
.ok-human-credit{
    left: calc(15% + 40px);
    width: calc(85% - 52px);
}    
    
.nam-june-paik-image img{
    clear: both;
    width: calc(100% - 20px);
    margin-left: 10px;
}    

.nam-june-paik h3{
    position: relative;
    float: left;
    margin-left: 10px;
    width: calc(100% - 20px); 
    padding-bottom: 10px;
    padding-top: 5px;
}    
.nam-june-paik h6:nth-of-type(1){
    margin-left: 10px; 
    margin-top: 6px;
    margin-bottom: 6px;  
    width: 70%;
}
.nam{
    margin-left: calc(15% + 60px);
    width: calc(85% - 50px);
    float: left;
    clear: both;
}
.nam-june-paik-body-copy{
    width: 80%;
    clear: both;
    float: left;
    margin-top: -8px;
    margin-left: calc(15% + 40px);
    width: calc(85% - 50px);
}  
    
.further-reading{
    margin-left: calc(15% + 40px);
    width: calc(85% - 50px);
}    
.ryoji-ikeda-body-copy2 h6{  
    margin-right: 0px; 
}    
    
.ryoji-ikeda-body-copy2{
    clear: both;
    float: left; 
    margin-top: 11px;
    margin-left: calc(15% + 40px);
    width: calc(85% - 50px);
    margin-right: 0px; 
}    
.ryoji-ikeda-body-copy2 .small-rule{
    margin-right: 0px;  
}
.static-haze-credit{
    clear: both;
    float: left; 
    margin-left: calc(15% + 40px);
    width: calc(85% - 52px);
    margin-right: 0px; 
}
.ryoji-ikeda-body-copy3 h6{  
    margin-right: 0px; 
}    
    
.ryoji-ikeda-body-copy3{
    clear: both;
    float: left; 
    margin-top: 0px;
    margin-left: calc(15% + 40px);
    width: calc(85% - 50px);
    margin-right: 0px; 
}    
.ryoji-ikeda-body-copy3 .small-rule{
    margin-right: 0px;  
}  
.ryoji-ikeda-body-small {
    width: 80%;
    margin-right: -50px; 
    margin-top: -5px;
    clear: both;
    border-top: 1px solid #000;
    padding-top: 10px;
}   
.ryoji-ikeda h4{
    width: 100%;
    margin-right: -50px;  
    margin-top: -14px;
} 
.ryoji-ikeda h3{
    width: 95%;
    margin-top: 5px;
    margin-left: 10px;  
}    
.ryoji-ikeda-body-copy .h4-circle{
    margin-top: 5px;   
    width: 15px;
    height: 15px;
}    
.footer-header svg{
    width: 27%;
    margin-top: -11px;
    margin-right: 0%;
} 
.footer-credit{
    margin-right: -10px;
    padding-bottom: 203px;
    width: calc(100% - 20px);
    border-bottom: 2px solid #000;  
}    
.footer-header{
    position: relative;
    bottom: -2px;
    font-size: 216px;
    font-size: 5.3em;
    margin-left: 2px;
    letter-spacing: -0.035em;
}
    
    
.circle {
	width: 35px;
	height: 35px;  
    left: 10px;
    top: 10px;  
} 
.h4-circle {
	width: 15px;
	height: 15px; 
} 
.h5-circle {
	width: 15px;
	height: 15px; 
}  
.h6-circle {
	width: 10px;
	height: 10px; 
}    
.p-circle {
	width: 12px;
	height: 12px; 
}
}
@media screen and (min-width: 374px) and (max-width: 412px) {
h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.35em;
}

h3 {
    font-size: 1.75em;
    }
   
h4 {
    font-size: .85em; 
    text-align: left;  
    letter-spacing: -0.002em;
    word-spacing: -0.12em;
}
    
h5 {   
    font-size: .85em;
    text-align: left;  
    letter-spacing: -0.002em;
    word-spacing: -0.12em;
}
   
h6 {
    font-size: 0.65em;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;  
}

p {
    font-size: 0.85em;
} 
    
.big-circle {
    display: none;
}
.big-circle2 {
    display: none;
}    
.big-circle3 {
    display: none;
}    
.menu-close{
    width: 15%;
    right: 15px;
    margin-bottom: -45px;
}
.menu-footer {
    width: 92%;
} 
.heading{
    opacity: 1;
    margin-left: 5px;
}
    
.rule{
    width: calc(100% - 0px);
    left: 0px;
}
.context-title{
    width: 365px;
    width: 15%;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    padding-bottom: 5px;
}
.visual-language-title{
    width: 342px;
    width: 40.55%;
    margin-left: 10.66%;
    position: relative;
    float: left;
    padding-left: 0px;
    padding-right: 25px;
    padding-bottom: 5px;
}

.visual-language-title-2{
    display: none;
}

.context{
    width: 380px;
    width: 86.9%;
    margin-right: 25px;
    margin-left: 15px;
    padding-top: 5px;
    position: relative; 
    border: 1px solid #000;
    border-width: 0 0px 1px 0px;
    float: left;
    display: none;
}
.visual-language-body{
    width: 330px;
    width: 75%;
    margin-left: 70px;
    position: relative;
    float: left;
    clear: both;
    margin-top: -1px;
    border: 1px solid #000;
    border-width: 0 0px 0 1px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.visual-language-body-2{
    float: left;
    clear: both;
    width: 360px;
    width: 75%;
    position: relative;
    margin-top: -1px;
    margin-left: 70px;
    padding-top: 5px;
    border: 1px solid #000;
    border-width: 1px 0px 0 1px;
    padding-left: 15px;
    padding-right: 5px;
}    
    
.manifesto{
    width: calc(100% - 30px);
    left: 250px;
    left: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
    position: relative;
    clear: both;
}    

.manifesto indent{
    margin-left: 0px;
    text-indent: 2em;
}  
  
.letterform-disclaimer{
    width: calc(100% + 10px);
    margin-left: -5px;
}   
.download{
    width: calc(100% + 10px);
    margin-left: -5px;
}     
#background{
    width: 500vw;
    left: -200vw;
    top: -100vh;
    height: 200vh;
    pointer-events: none;
}
.mobile-letter{
    display: block;
}    
.letterform{
    display: none;
    
} 
.letterform-dots{
    display: none;
}   
.interactive-letterform{
    margin-top: 0px;
    height: 0%;
}    
    
    
.static-haze .top-header{
    margin-left: 5px;
    padding-left: 5px;
}    
.static-haze h3{
    padding-bottom: 34px;
    width: calc(100% - 20px);
}
   
.static-haze .sub-heading{
    margin-top: -26px;
    float: left; 
    margin-left: 8px;
    letter-spacing: -0.015em; 
    word-spacing: -0.015em;
}    
.static-haze h5{
    width: 85%;
    margin-right: -50px;  
}   
    
.static-haze h6{
    width: 85%;
    margin-right: -40px;
    margin-top: 5px;
    margin-bottom: 5px;
  display: none;
}    
    
.static-haze-rule{
    width: 85%;
    margin-right: -50px;
}
.ok-human-rule2{
    width: calc(100% - 20px);
    margin-right: -10px;

}
.purpose-title-static-haze{
    margin-left: calc(15% + 50px);
    margin-top: 2px;
}
    
.purpose-title-static-haze2{
    margin-right: -50px;
    padding-bottom: 2px;
    margin-top: 2px;
}  
.visual-documentation-title2{
    float: left;
    margin-left: calc( 10px);
    width: 45%;
    margin-top: 2px;
}   
.static-haze-rule2{
    width: calc(100% - 20px);
    margin-right: -10px;

}    
.col-12 {
    width: calc(100% - 20px);
    padding: 0 10px;
    }  
.visual-documentation-title{
    float: left;
    margin-left: calc( 10px);
    width: 45%;
    margin-top: 2px;
    
}    
.ok-human-video iframe{
    top: -13px;
}

.static-haze-video{
    top: -13px; 
} 
.nam-june-paik-credit{
    left: calc(15% + 40px);
    width: calc(85% - 50px);
    margin-top: -35px;
}  
    
    
.ok-human-credit{
    left: calc(15% + 40px);
    width: calc(85% - 52px);
}    
    
.nam-june-paik-image img{
    clear: both;
    width: calc(100% - 20px);
    margin-left: 10px;
}    

.nam-june-paik h3{
    position: relative;
    float: left;
    margin-left: 10px;
    width: calc(100% - 20px); 
    padding-bottom: 10px;
    padding-top: 5px;
}    
.nam-june-paik h6:nth-of-type(1){
    margin-left: 10px; 
    margin-top: 6px;
    margin-bottom: 6px;  
    width: 70%;
}
.nam{
    margin-left: calc(15% + 60px);
    width: calc(85% - 50px);
    float: left;
    clear: both;
}
.nam-june-paik-body-copy{
    width: 80%;
    clear: both;
    float: left;
    margin-top: -8px;
    margin-left: calc(15% + 40px);
    width: calc(85% - 50px);
}  
    
.further-reading{
    margin-left: calc(15% + 40px);
    width: calc(85% - 50px);
}    
.ryoji-ikeda-body-copy2 h6{  
    margin-right: 0px; 
}    
    
.ryoji-ikeda-body-copy2{
    clear: both;
    float: left; 
    margin-top: 10px;
    margin-left: calc(15% + 40px);
    width: calc(85% - 50px);
    margin-right: 0px; 
}    
.ryoji-ikeda-body-copy2 .small-rule{
    margin-right: 0px;  
}
.static-haze-credit{
    clear: both;
    float: left; 
    margin-left: calc(15% + 40px);
    width: calc(85% - 52px);
    margin-right: 0px; 
}
.ryoji-ikeda-body-copy3 h6{  
    margin-right: 0px; 
}    
    
.ryoji-ikeda-body-copy3{
    clear: both;
    float: left; 
    margin-top: 0px;
    margin-left: calc(15% + 40px);
    width: calc(85% - 50px);
    margin-right: 0px; 
}    
.ryoji-ikeda-body-copy3 .small-rule{
    margin-right: 0px;  
} 
.ryoji-ikeda-body-small {
    width: 83%;
    margin-right: -50px; 
    margin-top: -5px;
    clear: both;
    border-top: 1px solid #000;
    padding-top: 10px;
}   
.ryoji-ikeda h4{
    width: 100%;
    margin-right: -50px;  
    margin-top: -14px;
} 
.ryoji-ikeda h3{
    width: 95%;
    margin-top: 5px;
    margin-left: 10px;  
}  
.ryoji-ikeda-body-copy .h4-circle{
    margin-top: 5px;   
    width: 15px;
    height: 15px;
}    
.footer-header svg{
    width: 28%;
    margin-top: -15px;
    margin-right: 0%;
} 
.footer-credit{
    margin-right: -10px;
    padding-bottom: 218px;
    width: calc(100% - 20px);
    border-bottom: 2px solid #000;  
}    
.footer-header{
    position: relative;
    bottom: -2px;
    font-size: 216px;
    font-size: 6.1em;
    margin-left: 2px;
    letter-spacing: -0.035em;
}
    
    
.circle {
	width: 35px;
	height: 35px;  
    left: 10px;
    top: 10px;  
} 
.h4-circle {
	width: 15px;
	height: 15px; 
} 
.h5-circle {
	width: 15px;
	height: 15px; 
}  
.h6-circle {
	width: 10px;
	height: 10px; 
}    
.p-circle {
	width: 12px;
	height: 12px; 
}
    
}
@media screen and (min-width: 413px) and (max-width: 774px) {
h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.95em;
    }
   
h4 {
    font-size: .85em; 
    text-align: left;  
    letter-spacing: -0.002em;
    word-spacing: -0.12em;
}
    
h5 {   
    font-size: .85em;
    text-align: left;  
    letter-spacing: -0.002em;
    word-spacing: -0.12em;
}
   
h6 {
    font-size: 0.65em;
}

p {
    font-size: 0.85em;
} 
.heading{
    opacity: 1;
    margin-left: 5px;
}
    
.big-circle {
    display: none;
}
.big-circle2 {
    display: none;
}    
.big-circle3 {
    display: none;
}    
.menu-close{
    width: 10%;
    right: 40px;
    margin-bottom: -45px;
}
.menu-footer {
    width: 95%;
} 
    

.rule{
    width: calc(100% - 0px);
    left: 0px;
}
.context-title{
    width: 365px;
    width: 15%;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    padding-bottom: 5px;
}
.visual-language-title{
    width: 342px;
    width: 40.55%;
    margin-left: 8.26%;
    position: relative;
    float: left;
    padding-left: 0px;
    padding-right: 25px;
    padding-bottom: 5px;
}

.visual-language-title-2{
    display: none;
}

.context{
    width: 380px;
    width: 86.9%;
    margin-right: 25px;
    margin-left: 15px;
    padding-top: 5px;
    position: relative; 
    border: 1px solid #000;
    border-width: 0 0px 1px 0px;
    float: left;
    display: none;
}
.visual-language-body{
    width: 330px;
    width: 75%;
    margin-left: 70px;
    position: relative;
    float: left;
    clear: both;
    margin-top: -1px;
    border: 1px solid #000;
    border-width: 0 0px 0 1px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.visual-language-body-2{
    float: left;
    clear: both;
    width: 360px;
    width: 75%;
    position: relative;
    margin-top: -1px;
    margin-left: 70px;
    padding-top: 5px;
    border: 1px solid #000;
    border-width: 1px 0px 0 1px;
    padding-left: 15px;
    padding-right: 5px;
}    
    
.manifesto{
    width: calc(100% - 30px);
    left: 250px;
    left: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
    position: relative;
    clear: both;
}    

.manifesto indent{
    margin-left: 0px;
    text-indent: 2em;
}  
  
.letterform-disclaimer{
    width: calc(100% + 10px);
    margin-left: -5px;
}   
.download{
    width: calc(100% + 10px);
    margin-left: -5px;
}     
#background{
    width: 500vw;
    left: -200vw;
    top: -100vh;
    height: 200vh;
    pointer-events: none;
}
.mobile-letter{
    display: block;
}    
.letterform{
    display: none;
    
} 
.letterform-dots{
    display: none;
}   
.interactive-letterform{
    margin-top: 0px;
    height: 0%;
}
    
    
.static-haze .top-header{
    margin-left: 5px;
    padding-left: 5px; 
}    
.static-haze h3{
    padding-bottom: 40px;
    width: calc(100% - 20px);
}
   
.static-haze .sub-heading{
    margin-top: -30px;
    float: left; 
    margin-left: 8px;
    letter-spacing: -0.015em; 
    word-spacing: -0.015em;
}    
.static-haze h5{
    width: 85%;
    margin-right: -50px;  
}   
    
.static-haze h6{
    width: 85%;
    margin-right: -40px;
    margin-top: 5px;
    margin-bottom: 5px;
  display: none;
}    
    
.static-haze-rule{
    width: 85%;
    margin-right: -50px;
}
.ok-human-rule2{
    width: calc(100% - 20px);
    margin-right: -10px;

}
.purpose-title-static-haze{
    margin-left: calc(15% + 50px);
    margin-top: 2px;
}
    
.purpose-title-static-haze2{
    margin-right: -50px;
    padding-bottom: 2px;
    margin-top: 2px;
}  
.visual-documentation-title2{
    float: left;
    margin-left: calc( 10px);
    width: 45%;
    margin-top: 2px;
}   
.static-haze-rule2{
    width: calc(100% - 20px);
    margin-right: -10px;

}    
.col-12 {
    width: calc(100% - 20px);
    padding: 0 10px;
    }  
.visual-documentation-title{
    float: left;
    margin-left: calc( 10px);
    width: 45%;
    margin-top: 2px;
    
}    
.ok-human-video iframe{
    top: -13px;
}

.static-haze-video{
    top: -13px; 
} 
.nam-june-paik-credit{
    left: calc(15% + 40px);
    width: calc(85% - 50px);
    margin-top: -35px;
}  
    
    
.ok-human-credit{
    left: calc(15% + 40px);
    width: calc(85% - 52px);
}    
    
.nam-june-paik-image img{
    clear: both;
    width: calc(100% - 20px);
    margin-left: 10px;
}    

.nam-june-paik h3{
    position: relative;
    float: left;
    margin-left: 10px;
    width: calc(100% - 20px); 
    padding-bottom: 10px;
    padding-top: 5px;
}    
.nam-june-paik h6:nth-of-type(1){
    margin-left: 10px; 
    margin-top: 6px;
    margin-bottom: 6px;  
}
.nam{
    margin-left: calc(15% + 60px);
    width: calc(85% - 50px);
    float: left;
    clear: both;
}
.nam-june-paik-body-copy{
    width: 80%;
    clear: both;
    float: left;
    margin-top: -8px;
    margin-left: calc(15% + 40px);
    width: calc(85% - 50px);
}  
    
.further-reading{
    margin-left: calc(15% + 40px);
    width: calc(85% - 50px);
}    
.ryoji-ikeda-body-copy2 h6{  
    margin-right: 0px; 
}    
    
.ryoji-ikeda-body-copy2{
    clear: both;
    float: left; 
    margin-top: 10px;
    margin-left: calc(15% + 40px);
    width: calc(85% - 50px);
    margin-right: 0px; 
}    
.ryoji-ikeda-body-copy2 .small-rule{
    margin-right: 0px;  
}
.static-haze-credit{
    clear: both;
    float: left; 
    margin-left: calc(15% + 40px);
    width: calc(85% - 52px);
    margin-right: 0px; 
}
.ryoji-ikeda-body-copy3 h6{  
    margin-right: 0px; 
}    
    
.ryoji-ikeda-body-copy3{
    clear: both;
    float: left; 
    margin-top: 0px;
    margin-left: calc(15% + 40px);
    width: calc(85% - 50px);
    margin-right: 0px; 
}    
.ryoji-ikeda-body-copy3 .small-rule{
    margin-right: 0px;  
}   
.ryoji-ikeda-body-small {
    width: 85%;
    margin-right: -50px; 
    margin-top: -5px;
    clear: both;
    border-top: 1px solid #000;
    padding-top: 10px;
}   
.ryoji-ikeda h4{
    width: 100%;
    margin-right: -50px;  
    margin-top: -14px;
} 
.ryoji-ikeda h3{
    width: 95%;
    margin-top: 5px;
    margin-left: 10px;  
}  
.ryoji-ikeda-body-copy .h4-circle{
    margin-top: 5px;   
    width: 15px;
    height: 15px;
}    
.footer-header svg{
    width: 29%;
    margin-top: -18px;
    margin-right: 0%;
} 
.footer-credit{
    margin-right: -10px;
    padding-bottom: 245px;
    width: calc(100% - 20px);
    border-bottom: 2px solid #000;  
}    
.footer-header{
    position: relative;
    bottom: -5px;
    font-size: 216px;
    font-size: 6.7em;
    letter-spacing: -0.035em;
}
    
    
.circle {
	width: 35px;
	height: 35px;  
    left: 10px;
    top: 10px;  
} 
.h4-circle {
	width: 15px;
	height: 15px; 
} 
.h5-circle {
	width: 15px;
	height: 15px; 
}  
.h6-circle {
	width: 10px;
	height: 10px; 
}    
.p-circle {
	width: 12px;
	height: 12px; 
}
    
}

@media screen and (min-width: 775px) and (max-width: 1140px) {

  
h1 {
    font-size: 5.5em;
}

h2 {
    font-size: 1.95em;
}

h3 {
    font-size: 4.8em;
    }
   
h4 {
    font-size: 1.5em; 
}
    
h5 {   
    font-size: 1em;
}
   
h6 {
    font-size: 0.75em;
}

p {
    font-size: 1em;
}  
.menu-close{
    width: 20%;
    right: 0px;
}
.menu-footer {
    width: 55%;
} 
    
.manifesto{
    width: 88%;
    left: 10%;
}
.manifesto indent{
    margin-left: 0%;
}
.context-title{
    width: 40%;
    margin-right: 0px;
}
.visual-language-title{
    width: 24.55%;
    margin-left: 10.66%;
    position: relative;
    float: left;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 5px;
}

.visual-language-title-2{
    display: none;
}

.context{
    width: 40%;
    margin-right: 0px;
    margin-left: 15px;
    padding-top: 5px;
    position: relative; 
    float: left;
}
.visual-language-body{
    width: 42%;
    margin-left: 10.66%;
    position: relative;
    float: left;
    margin-top: -1px;
    border: 1px solid #000;
    border-width: 0 0px 0 1px;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 5px;
}

.visual-language-body-2{
    float: left;
    width: 42%;
    position: relative;
    margin-top: -2px;
    clear: both;
    border: 1px solid #000;
    border-width: 0 0px 0 1px;
    padding-left: 15px;
    padding-right: 25px;
    margin-left: calc(15px + 50.66%);
}    
.letterform-disclaimer{
    width: 45%;
    margin-left: .5%;
}   
.download{
    width: 45%;
    margin-left: .5%;
}    
    
.static-haze h3{
    width: calc(100% - 60px);
}
    
.static-haze h5{
    width: 55%;
    margin-right: -20px;  
}   
    
.static-haze h6{
    width: 55%;
    margin-right: 10px;
 
}    
    
.static-haze-rule{
    width: 55%;
    margin-right: -20px;
}
.ok-human-rule2{
    width: calc(55% - 10px);
    margin-right: 0px;

}
.purpose-title-static-haze{
    margin-left: calc(45% + 20px);
}
    
.purpose-title-static-haze2{
    margin-right: -20px;
}  
.visual-documentation-title2{
    margin-left: calc(45% - 10px);
    
}   
.static-haze-rule2{
    width: calc(55% - 10px);

}    
  
.visual-documentation-title{
    float: left;
    margin-left: calc(45% - 10px);
    width: 45%;
    
}    
.ok-human-video iframe{
    top: -30px;
}

.static-haze-video{
    top: -30px; 
}  
    
.nam-june-paik-credit{
    left: calc(40% + 40px);
    width: calc(55% - 10px);
    margin-top: -68px;
}  
    
    
.ok-human-credit{
    left: calc(40% + 40px);
    width: calc(55% - 10px);
}    
    
.nam-june-paik-image img{
    clear: both;
    width: calc(100% - 85px);
    margin-left: 65px;
}    

.nam-june-paik h3{
    position: relative;
    float: left;
    width: calc(100% - 85px); 
}    

.nam{
    width: 40%;
    float: left;
    clear: both;
    margin-left: 85px;
    margin-top: 10px;
}
.nam-june-paik-body-copy{
    width: 40%;
}  
    
.further-reading{
    margin-left: calc(40% + 85px);
    width: 40%;
}    
.ryoji-ikeda-body-copy2 h6{  
    margin-right: 0px; 
}    
    
.ryoji-ikeda-body-copy2{
    clear: both;
    float: right; 
    margin-top: -23px;
    width: calc(55% - 30px);
    margin-right: 40px; 
}    
.ryoji-ikeda-body-copy2 .small-rule{
    margin-right: 0px;  
}
.static-haze-credit{
    margin-right: 40px;  
    width: calc(55% - 30px);
}
.ryoji-ikeda-body-copy3 h6{  
    margin-right: 0px; 
}    
    
.ryoji-ikeda-body-copy3{
    clear: both;
    float: right; 
    width: calc(55% - 30px);
    margin-right: 40px; 
}    
.ryoji-ikeda-body-copy3 .small-rule{
    margin-right: 0px;  
}   
.ryoji-ikeda-body-small {
    clear: both;
    width: 50%;
    margin-right: -20px;  
    border-top: 1px solid #000;
    padding-top: 10px; 
}   
.ryoji-ikeda h4{
    width: 95%;
    margin-right: -20px;  
} 
.ryoji-ikeda h3{
    width: 95%; 
}     
.footer-header svg{
    display: none;
} 
.footer-credit{
    padding-bottom: 20px;
    width: 55%;
}    
}


@media screen and (min-width: 1141px) and (max-width: 1219px) {
    .ok-human-video iframe{
    top: -32px;
}

.static-haze-video{
    top: -32px; 
} 
    
.ryoji-ikeda-body-copy2{
    margin-top: -28px;
}
.nam-june-paik-credit{
    margin-top: -74px;
}      
}

@media screen and (min-width: 1220px) and (max-width: 1319px) {
    .ok-human-video iframe{
    top: -34px;
}

.static-haze-video{
    top: -34px; 
} 
.ryoji-ikeda-body-copy2{
    margin-top: -32px;
}
.nam-june-paik-credit{
    margin-top: -78px;
}      
}

@media screen and (min-width: 1320px) and (max-width: 1400px) {
    .ok-human-video iframe{
    top: -35px;
}

.static-haze-video{
    top: -35px; 
} 
.ryoji-ikeda-body-copy2{
    margin-top: -35px;
}
.nam-june-paik-credit{
    margin-top: -80px;
}      
}

@media screen and (min-width: 1441px) and (max-width: 1499px) {
    .ok-human-video iframe{
    top: -37px;
}

.static-haze-video{
    top: -37px; 
} 
.ryoji-ikeda-body-copy2{
    margin-top: -38px;
}
.nam-june-paik-credit{
    margin-top: -84px;
}      
}

@media screen and (min-width: 1500px) and (max-width: 1599px) {
    .ok-human-video iframe{
    top: -39px;
}

.static-haze-video{
    top: -39px; 
} 
.ryoji-ikeda-body-copy2{
    margin-top: -42px;
}    
.nam-june-paik-credit{
    margin-top: -87px;
}      
}

@media screen and (min-width: 1600px) and (max-width: 1680px) {
    .ok-human-video iframe{
    top: -40px;
}

.static-haze-video{
    top: -40px; 
}   
.ryoji-ikeda-body-copy2{
    margin-top: -45px;
}    
   
.nam-june-paik-credit{
    margin-top: -90px;
}      
.menu-close{
    margin-bottom: 9px;
}
}




@media screen and (min-width: 1681px) and (max-width: 10000px) {
   
.wrapper{
    width: 1680px;
}
    
h1 {
    font-size: 6.39em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 5.8em;
    }
   
h4 {
    font-size: 1.81em; 
}
    
h5 {   
    font-size: 1.11em;
}
   
h6 {
    font-size: 0.83em;
}

p {
    font-size: 0.97em;
}  
.menu-close{
    margin-bottom: 6px;
}
    
.footer-header{
    font-size: 15.5em;
}    
.footer-header svg{
    margin-top: -30px;
}
    
.nam-june-paik-credit{
    margin-top: -90px;
}

.ok-human-video iframe{
    top: -40px;
}
    
.static-haze-video{
    top: -40px; 
}    
.ryoji-ikeda-body-copy2{
    margin-top: -45px;
}    
    
}